@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500&family=Montserrat:ital,wght@1,100&display=swap');
*{
    padding:0;
    margin:0;
    font-family:'Montserrat', sans-serif;;
}
body{
    height:100vh;
    background-image: url(tenor.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    width:280px;
    height:360px;
    position:absolute;
    top:100px;
    left:230px;
}
h1{
    color:aliceblue;
    background-color:rgba(23, 92, 161, 0.8);
    border-radius: 20px;
    background-o
}
.block{
    position:absolute;
    top:100px;
    right:200px;
}
.outside .inside{
    width:100%;
    height:100%;
    border-radius:20px;

}